.App {
  width: 100%;
  max-width: 100vw;
  min-width: none;
  height: 100%;
  min-height: 115vh;
  margin: 0, auto;
  background-color: #000000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.test p{
  margin-top: 200px;
  color: aliceblue;
}


/* ##################### HEADER ##################### */

@media only screen and (min-width: 600px) and (max-width: 2000px) {

  .header-main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1d21;
    width: 100vw;
  }

  .nav-links-cont {
    background-color: #1b1d21;
    min-height: 1vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
    color: white;
  }

  .menu {
    visibility: hidden;
    opacity: 0;
    display: block;
    cursor: none;
    margin-top: -8vh;
  }

  .header {
    text-align: center;
    margin-top: 30px;
  }
  
  .header p {
    margin-left: 10px;
    color: rgb(211, 187, 126);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .menu-close {
    background: transparent;
    border: none;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    display: block;
    cursor: none;
  }

}

@media all and (max-width: 600px) {

  .header-main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1d21;
    height: 7vh;
    min-height: 10vw;
    width: 100vw;
  }

  .h-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .header p{
    color: rgb(211, 187, 126);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .nav-links-mobile {
    position: fixed;
    top: 7vh;
    left: 10px;
    width: 50vw;
    height: 100vh;
    display: none;
    visibility: hidden;
    opacity: 0;
    display: block;
    cursor: none;
    transition: 1s ease-in-out;
    transform: translateX(-100vw);
  } 

  .nav-links {
    position: fixed;
    top: 7vh;
    left: 0;
    width: 50vw;
    height: 100vh;
    transition: .2s ease-in-out;
    transform: translateX(.1vw);
    background-color: #1b1d21;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  } 

  .nav-links-cont {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links .header {
    margin-left: 2vw;
  } 
  
  .menu-open {
    position: relative;
    left: 80vw;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-close {
    background: transparent;
    border: none;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    display: block;
    cursor: none;
    transition: 1s;
    transform: translateX(-100vw);
  }

}

/* ###################### EVENT LIST ######################## */

@media only screen and (min-width: 600px) and (max-width: 2000px) {

  .y{
    margin-top: 18vh;
  }

}

@media only screen and (max-width: 600px) {

  .y{
    margin-top: 10vh;
  }

}

.event-list-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.username {
  color: aliceblue;
  margin-top: 150px;
}

.btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.event-btn {
  background: none;
  border: 0;
  cursor: pointer;
}

/* ###################### EVENT PAGE ######################## */

@media only screen and (min-width: 600px) and (max-width: 2000px) {

  #update-back {
    margin-top: 15vh;
  }

  .event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .event-container p {
    color: white;
  }

  .event-container label {
    color: beige;
    font-style: italic;
    margin-right: 65vw;
  }
  
  .text-event {
    width: 100%;
    min-width: 20vw;
    max-width: 70vw;
    height: auto;
    min-height: 50px;
    background-color: #282c34;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
  }
  
  .event-btn-submit {
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: 45%;
  }

}

@media only screen and (max-width: 600px) {

  #update-back {
    margin-top: 15vh;
  }

  .event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .event-container label {
    color: beige;
    font-style: italic;
    align-self: flex-start;
    margin-left: 12vw;
  }

  .res-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .text-event {
    width: 100%;
    min-width: 20vw;
    max-width: 77vw;
    height: auto;
    min-height: 50px;
    background-color: #282c34;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
  }
  
  .event-btn-submit {
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: 45%;
  }
  

}


/* ###################### LIST ITEM ######################## */

@media only screen and (min-width: 600px) and (max-width: 2000px) {

  .list-item-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 10px;
    background-color: #282c34;
    transition: all ease-in-out .4s;
  }
  
  .list-item-container:hover {
    background-color: #464c58;
  }
  
  .list-item-container-mini {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    min-width: 65vw;
  }
  
  .list-item h1{
    font-size: 15px;
    color: whitesmoke;
  }
  
  .list-item p{
    font-size: 15px;
    color: whitesmoke;
  }

}



@media all and (max-width: 600px) {

  .list-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7vh;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 10px;
    background-color: #282c34;
    transition: all ease-in-out .4s;
    margin-top: 12px;
  }
  
  .list-item-container:hover {
    background-color: #464c58;
  }
  
  .list-item-container-mini {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    min-width: 60vw;
  }

  .list-item {
    height: 3vh;
    margin-top: -12px;
  }
  
  .list-item h1{
    font-size: 15px;
    color: whitesmoke;
    margin-top: -2px;
  }
  
  .list-item p{
    font-size: 15px;
    color: whitesmoke;
  }
  
}

/* ###################### RESULT ######################## */

@media only screen and (min-width: 600px) and (max-width: 2000px) {

  .event-btn-back {
    margin-top: 10vh;
  }

  .date-del-cont {
    display: flex;
    align-items: center;
    margin-left: -75px;
    gap: 30px;
  }

  .result-container-main p { 
    color: aliceblue;
    font-size: 20px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .res-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #back {
    margin-top: 20vh;
  }

  #archivate {
    margin-top: 20vh;
    margin-left: -10vw;
  }

  .result-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .month {
    color: aliceblue;
    margin-left: 35vw;
    font-size: 40px;
  }
  

  .left {
    min-width: 60vw;
    height: 10vh;
    background-color: #282c34;
    border-radius: 10px;
  }
  
  .left p {
    margin-top: 12px;
    margin-left: 12px;
  }
  
  .right {
    width: 100%;
    max-width: 10vw;
    height: 10vh;
    background-color: #282c34;
    border-radius: 10px;
  }
  
  .right p {
    margin-top: 12px;
    margin-left: 3.7vw;
  }

}

@media only screen and (max-width: 600px) {

  .result-container-main p {
    margin: -10vh 0;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .date-del-cont {
    display: flex;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .res-btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0vh;
  }

  #back {
    margin-top: 10vh;
  }

  #archivate {
    margin-top: 10vh;
    margin-left: -10vw;
  }

  .month {
    color: aliceblue;
    margin-left: 14vw;
    font-size: 40px;
  }
  

  .left {
    width: 100%;
    max-width: 65vw;
    min-width: 20vw;
    height: 7vh;
    background-color: #282c34;
    border-radius: 10px;
  }
  
  .left p {
    margin-top: 12px;
    margin-left: 12px;
  }
  
  .right {
    width: 100%;
    max-width: 15vw;
    height: 7vh;
    background-color: #282c34;
    border-radius: 10px;
  }
  
  .right p {
    margin-top: 12px;
    margin-left: 3.7vw;
  }  

}

@media only screen and (max-width: 300px) {

  .date-del-cont {
    display: flex;
    align-items: center;
  }

  .month {
    font-size: 25px;
  }

}

/* ################################# HISTORY #################################### */

@media only screen and (min-width: 725px)  {

  .history-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
  }

  .history-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 5vh;
  }

}

@media only screen and (max-width: 725px) {

  .history-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .history-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-width: 150px;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 10vh;
  } 

}

/* ############################# BUTTONS ################################## */

@media only screen and (min-width: 260px) and (max-width: 600px) {

  #archivate {
    margin-right: 5vw;
  }

}

@media only screen and (min-width: 600px) and (max-width: 2000px) {

  #archivate {
    margin-right: 5vw;
  }

}
